@font-face {
  font-family: "Mont";
  src: url(./font/MONT-LIGHT.TTF);
  font-weight: 400;
}
@font-face {
  font-family: "Mont";
  src: url(./font/MONT-REGULAR.TTF);
  font-weight: 600;
}
@font-face {
  font-family: "Mont";
  src: url(./font/MONT-SEMIBOLD.TTF);
  font-weight: 700;
}
* {
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-container {
  font-family: "Mont";
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
  background-image: url(./img/background.png);
  color: #ffffff;
}

/* Стили кнопки */
h2 {
  font-size: 73px;
  color: #FB74E5;
}

p {
  font-size: 25px;
}

.Button {
  padding: 16px 80px 10px;
  background-color: #FB74E5;
  font-weight: 600;
  font-size: 37px;
  font-family: "Mont";
  border-radius: 15px;
}

.Field {
  min-width: 729px;
  display: flex;
  flex-direction: column;
}
.Field input {
  background-color: transparent;
  border-radius: 15px;
  font-size: 37px;
  border: 2px solid #ffffff;
}
.Field label {
  margin-bottom: 12px;
  font-size: 37px;
}
.VK {
  background-color: #0077FF;
  background-image: url(./img/vk-btn.png);
  padding: 8px 93px;
  padding-left: 153px;
  border: none;
  color: #ffffff;
  font-size: 25px;
  margin-top: 13px;
  margin-bottom: 51px;
}

.add-line-container {
  display: flex;
  align-items: center;
  gap: 18px;
}
.add-line {
  border-bottom: 2px solid #ffffff;
  width: 73px;
  height: 2px;
}
.LoginPage, .RegPage {
  padding: 208px;
}
.enter-link {
  color: #FB74E5;
  text-decoration: none;
  margin-top: 37px;
}
.forget-password {
  font-size: 31px;
  margin-top: 9px;
}

.enter-btn {
  margin-top: 52px;
  margin-bottom: 10px;
}
.password-field {
  margin-top: 26px;
}

.RegPage h2 {
  margin-bottom: 20px;
}

.RegPage .Field {
  margin-bottom: 26.5px;
}

.reg-btn {
  padding: 17px 54px 10px;
  margin-bottom: 45px;
}

.RegPage .add-line-container {
  margin-bottom: 18px;
}

.RestorePasswordPage {
  padding: 343px;
}
.RestorePasswordPage p {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 23px;
}
.RestorePasswordPage .Field{
  margin-bottom: 23px;
  width: 100%;
}

.RestorePasswordPage .Field label {
  font-size: 58px;
}
.RestorePasswordPage .Field input {
  height: 116px;
}

.RestorePasswordPage .Button {
  align-self: start;
}